<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="./">Edufect</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
            </li> -->
            <li class="nav-item ">
                <a class="nav-link" routerLink="./courses" routerLinkActive="active">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./student" routerLinkActive="active">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>

    </div>
</nav>


<router-outlet></router-outlet>