<!-- <h5> Say bye to</h5>
<h6><a routerLink="/bye/James" routerLinkActive="true">James</a></h6>
<h6> <a routerLink="/bye/Mary" routerLinkActive="true">Mary</a>
</h6>
<h6> <a routerLink="/bye/bob" routerLinkActive="true">bob</a>
</h6>
<h6> <a routerLink="/bye/Martain" routerLinkActive="true">Martain</a>
</h6> -->

<div class="container">
    <h4 class="ml-5">Welcome to Edufact</h4>
    <div class="row">
        <div class="col-3 border">
            <h5>List of Courses</h5>
            <h6><a routerLink="/courses/Angular" routerLinkActive="true">Angular</a></h6>
            <h6><a routerLink="/courses/Python" routerLinkActive="true">Python</a></h6>
            <h6><a routerLink="/courses/Java" routerLinkActive="true">Java</a></h6>
        </div>
        <div class="col-3 border">
            <h5>List of Students</h5>
            <h6><a routerLink="/student/James" routerLinkActive="true">James</a></h6>
            <h6><a routerLink="/student/Edwards" routerLinkActive="true">Edwards</a></h6>
            <h6><a routerLink="/student/Margaret" routerLinkActive="true">Margaret</a></h6>
            <h6><a routerLink="/student/Katherine" routerLinkActive="true">Katherine</a></h6>
        </div>
    </div>
</div>